<?xml version="1.0" encoding="utf-8"?>
<launch>
      

<node pkg="rosbag" type="play" name="rosbag" args="-d 2 /media/scott/4000098A0009885C/CALIB_2024-12-08-21-07-06.bag"/>
      <node name="extract" pkg="image_view" type="extract_images" respawn="false" output="screen" cwd="ROS_HOME">
      <remap from="image" to="/camera/color/image_raw"/>
      <param name="sec_per_frame" value="0.1"/>
      </node>

</launch>
